Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a collection of organized data that is structured in a way to allow for efficient retrieval, storage, and manipulation of data. Databases are used to store large amounts of data and are used in various applications and systems, such as websites, enterprise applications, and more.

SQL and NoSQL are two main types of databases, and they differ in how they store and retrieve data:

SQL (Structured Query Language) databases are relational databases that store data in tables with predefined relationships between them. The tables are linked through foreign keys, which create relationships between different tables. SQL databases are highly structured and follow a schema that defines the relationships between tables. SQL is a powerful language used to manage and query structured data in these databases.

NoSQL (Not Only SQL) databases, on the other hand, are non-relational databases that do not use tables or predefined schemas. Instead, NoSQL databases use various data models such as document-based, key-value, graph-based, or column-family databases to store and retrieve data. NoSQL databases are highly scalable and flexible, and they are well suited for handling unstructured and semi-structured data.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

'''DDL stands for Data Definition Language, which is a subset of SQL (Structured Query Language)
used to define the structure and layout of a database. DDL statements are used to create, modify,
and delete database objects such as tables, views, indexes, and constraints.'''

#Create
CREATE TABLE customers (
   id INT PRIMARY KEY,
   name VARCHAR(255),
   email VARCHAR(255),
   phone VARCHAR(20)
);

#Drop

DROP TABLE customers;

#Alter

ALTER TABLE customers ADD address VARCHAR(255);

#Truncate

TRUNCATE TABLE customers;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language, which is a subset of SQL (Structured Query Language)
used to manipulate data within a database. DML statements are used to insert, update, and delete
data within tables.

#Insert

INSERT INTO employees (id, name, age, salary)
VALUES (101, 'John Smith', 35, 50000);

#Update

UPDATE employees
SET salary = 60000
WHERE id = 101;

#Delete

DELETE FROM employees
WHERE id = 101;

Q4. What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language, which is a subset of SQL (Structured Query Language) used to retrieve data from a database. DQL commands are used to select and manipulate data in a database, and one of the most common DQL commands is the SELECT statement.

#Select

SELECT column1, column2, ...
FROM table_name
WHERE condition;

Q5. Explain Primary Key and Foreign Key.

Primary Key:
A primary key is a unique identifier for each record in a table. It is a column or a combination of columns that uniquely identifies a row in a table. Primary keys must be unique and cannot contain null values. In other words, a primary key must be a value that identifies a single record in the table.

Foreign Key:
A foreign key is a column or set of columns in one table that refers to the primary key of another table. It is used to establish a relationship between two tables. The foreign key constraint ensures that the value in the foreign key column(s) matches a primary key value in the referenced table.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector

# establish a connection to MySQL server
mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="yourdatabase"
)

# create a cursor object to interact with the database
mycursor = mydb.cursor()

# execute a query
mycursor.execute("SELECT * FROM customers")

# fetch the result set
result = mycursor.fetchall()

Q7. Give the order of execution of SQL clauses in an SQL query.

In SQL, the order of execution of clauses in a query is as follows:

FROM: This clause specifies the table(s) or view(s) from which the data is retrieved.

WHERE: This clause filters the results based on a specific condition or set of conditions.

GROUP BY: This clause groups the results by one or more columns.

HAVING: This clause filters the groups based on a specific condition or set of conditions.

SELECT: This clause selects the columns to be displayed in the result set.

DISTINCT: This clause removes duplicate rows from the result set.

ORDER BY: This clause sorts the result set by one or more columns.

LIMIT: This clause limits the number of rows returned in the result set.